.App {
  width: 100vw;
  height: 100vh;
}

.main-page-container {
  display: flex;

  .display-container {
    position: relative;
    width: 400px;

    .floor-group {
      position: absolute;
      display: flex;
      flex-direction: column;
    }
  }
}