.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 500px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: #ddd;

  .input-line {
    margin: 10px 0;
    display: flex;
    align-items: center;

    .input-label {
      width: 50px;
      font-weight: 700;
    }

    .input-text {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 10px;
    }
  }
}